[Unit]
Description    = Open vSwitch Database Server
Documentation  = man:ovsdb-server

[Service]
RuntimeDirectory=openvswitch
PIDFile=/run/openvswitch/ovsdb-server.pid
ExecStart=/usr/sbin/ovsdb-server --remote=punix:/run/openvswitch/db.sock --pidfile=/run/openvswitch/ovsdb-server.pid

[Install]
WantedBy=multi-user.target
